<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} | Components</title>

    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      body {
        margin: 1em 0;
        line-height: 1.5;
        font-family: sans-serif;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .container {
        max-width: 50em;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1em;
        padding-left: 1em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{{ '/' | url }}">Home</a>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
