---
title: Accordions
---

<p>Documentation to do.</p>

<h2>Examples</h2>
<div class="js-accordion">
  <section class="accordion">
    <h3 class="accordion-heading">Item 1</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
  <section class="accordion">
    <h3 class="accordion-heading">Item 2</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
  <section class="accordion">
    <h3 class="accordion-heading">Item 3</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
</div>
<br>
<div class="js-accordion">
  <section class="accordion">
    <h3 class="accordion-heading">Item 4</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
  <section class="accordion">
    <h3 class="accordion-heading">Item 5</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
  <section class="accordion">
    <h3 class="accordion-heading">Item 6</h3>
    <div class="accordion-content">
      <p>Lorem ipsum, dolor sit amet <a href="#">consectetur adipisicing elit</a>. Aliquid assumenda sunt cumque tempore obcaecati laboriosam eius vel quisquam? Rerum nam, esse maxime quibusdam earum sunt tempore autem fugiat architecto sed.</p>
    </div>
  </section>
</div>

<h2>References</h2>
<ul>
  <li>
    <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#accordion">WAI-ARIA Authoring Practices 1.1</a>
  </li>
</ul>

<link rel="stylesheet" href="../assets/css/accordions.css">

<script type="module">
  import Accordion from '../assets/js/accordions.js';

  const accordions = document.querySelectorAll('.js-accordion');
  accordions.forEach(accordion => {
    new Accordion(accordion);
  });
</script>
